div {
	color: lightgrey;
    margin-top: 15px
    margin-bottom: 15px;
	height: 15px;
	width: 15px;
	display: inline-block;
}

h1 {
	color: red;
	font-family: Arial, sans-serif;
	font-size: 25;
}

h2 {
	color: black;
	font-family: Arial, sans-serif;
	font-size: 25;
}

h3 {
	color: lightgrey;
	font-family: Arial, sans-serif;
	font-size: 25;
}

p {
	padding: 15px 15px;
	margin: 5px 5px;
	font-size: 17px;
}

.article-title {
	color: black;
	margin: 5px 5px;
	font-size: 17px;
}

.footer-date {
	color: black;
	margin: 5px 5px;
	font-size: 17px;
}

ul {
	list-style-type: none;
}