body {
  background-color: #f0efef;
}

header {
  background-color: #033048;
  height: 50px;
}

main {
  background-color: #f0efef;
  height: 500px;
}

aside {
  background-color: #f9e42e;
  height: 50px;
  clear: both;
}

footer {
  background-color: #121212;
  height: 50px;
}

.container {
  width: 960px;
  margin: auto;
  display: block;
}

.clearfix:after {
  display: table;
  clear: both;
}

.clear {
  clear: both;
}

header h1{
  float: left;
  color: white;
  }

nav {
  float: right;
}

nav a{
  display: inline-block;
  font-size: 14px;
  color: #f9e42e;
  text-decoration: none;
  margin-top: 15px;
  margin-bottom: 10px;
}

main article {
  float: left;
  width: 75%;
  height: 950px;
  background-color: #f0efef;
}

main aside {
  float: right;
  width: 25%;
  height: 950px;
  background-color: #f0efef;
  clear: none;
}

aside p{
  text-align: center;
}

b {
  color: blue;
  padding: auto;
  margin-top: 15px
  margin-bottom: 15px;
  margin-left: 50%;
  margin-right: 50%;
}






