/******************************************
/* SETUP
/*******************************************/

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.title {
  float: left;
  font-size: 55px;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  color: white;
}

.container {
  width: 960px;
  margin: auto;
  display: block;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 0px 0px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 0 0px 0px;/* note the padding around a left floated image */
}

.top-down {
  float: left;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  color: #606161;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #f0efef;
  font-size: 55px;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
  background: #f0efef;
}

header {
  background-color: #033048;
  display: block;
  line-height: 1.4;
  height: 5;
  overflow: hidden;
}

h1 {
  color: #033048;
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  margin: auto;
}

h2 {
  color: #033048;
  font-size: 32px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
}

a {
  color: #f9e42e;
  background-color: #033048;
  font-size: 18px; 
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}

ul {
  float: right;
  list-style-type: none;
}

li { 
  display: inline-block;
}
/******************************************
/* LAYOUT
/*******************************************/
/* Center the container */
p {
  float: left;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  color: #606161;
}

main {

}

aside{

}

footer {
  background-color: #f9e42e;
  display: block;
  line-height: 1.4;
  height: 5;
  overflow: hidden;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/




